*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

body {
  font-size: 1.6rem;
  width: 50%;
  margin: 0 auto;
  padding: 5rem;
  background-color: #f7f7f7; }

.primary-heading {
  text-align: center;
  color: #010101;
  font-size: inherit; }
